// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: white;
$background-hover: white;
$upvote-color: blue;
$downvote-color: red;
$break-small: 990px;


.questionButton-enter {
  background-color: #AEE8C1;
}

.questionButton-enter.questionButton-enter-active {
  background-color: white;
  opacity: 1;
  transition: background-color 1000ms ease-in;
}

.question-button-enter {
  opacity: 0.01;
  background-color: #AEE8C1;
}


.question-enter {
  background-color: #AEE8C1;
}

.question-enter.question-enter-active {
  background-color: white;
  transition: background-color 1000ms ease-in;
}




.question-index {
	color: red;
	a {	
		text-decoration: none;
		color: #216D99;
		&:hover{
			color: #2E97D3;;
		} 
	}
	&:hover {
		background-color: $background-color;
	}
	.vote-column {
		text-align: center;
		display: block;
		max-width: 68px;
		.btn {
			color: black;
			border: none;
			background-color: $background-color;
			@media screen and (min-width: $break-small) {
				margin: 0px -8px 0px -8px;
			}
			&:hover{
				background-color: $background-hover;
				 &.upvote {
					color: $upvote-color;
				}
				&.downvote {
					color: $downvote-color;
				}
			}
		}
	}

	padding: 1px;
	border-top: 1px solid;

}