/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$background-color: white;
$background-hover: white;
$upvote-color: #00bf0c;
$downvote-color: #e87902;
$break-small: 990px;


/* Questions section starts here ************************************** */


.container {
	padding-top: 80px;
	width: 95%;
}

.question-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: baseline;
	.question-row{
		display: flex;
		flex: 1;
		.border{
			border-bottom: 1px solid #CCC;
			padding-bottom: 10px;
			padding-top: 20px;
		}
		
	}

	.question-list{
		flex: 1;
	
	}
	.question-stat{
		flex: 1;
		display: flex;
		margin: auto;
		span {
			font-size: .75em;
			color: grey;
		}
	} 
	.question-content{
		flex: 5;
		min-width: 300px;
		padding: 0 10px 0 10px;
		a {	
			text-decoration: none;
			color: #216D99;
			&:hover{
				color: #2E97D3;;
			}
		} 
	}
	.question-author{

		align-self: flex-end;
		font-size: .75em;
		color: grey;
		
	}

}


.questionButton-enter {
  background-color: #AEE8C1;
  opacity: 0.01;
}

.questionButton-enter.questionButton-enter-active {
  background-color: white;
  opacity: 1;
  transition: background-color 1000ms ease-in;
}

.questionButton {
  opacity: 1;
}

.questionButton-leave.questionButton-leave-active {
	opacity: 0.01;
  transition: 500ms ease-in;
}

/* Question show page section starts here ************************************** */

.questions-page-container{
	width: 90%;
	margin-left: 4%;

}


/* Answers section starts here ************************************** */

.answers-container{
	h2{
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 1.2em;
	}

	.answer-header{
		border-bottom: 2px solid #CCC;

	}
	.answer-row{
		display: flex;
		border-bottom: 1px solid #CCC;
		padding-top: 10px;

		.answer-vote{
			flex: 1;
			display: flex;
			flex-direction: column;
			align-self: center;
			margin-left: 5px;
			.answer-count{
				margin-left: 45%;

			}
			.btn {
				color: black;
				border: none;
				background-color: $background-color;
				@media screen and (min-width: $break-small) {
					margin: 0px -8px 0px -8px;
				}
				&:hover{
					background-color: $background-hover;
					 &.upvote {
						color: $upvote-color;
					}
					&.downvote {
						color: $downvote-color;
					}
				}
			}

		}
		.answer-body{
			flex: 14;
			display: flex;
			.answer-content{
				flex:10;
				align-self: flex-start;

			}
			.answer-author{
				flex:	3;
				align-self: flex-end;
				margin: auto;
				padding-left: 10px;
				font-size: .75em;
				color: grey;
			}
		}
	}
}

/* Comments section starts here ************************************** */

.comments-container{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	
	.comment-header{
		border-bottom: 2px solid #CCC;

	}
	margin-left: 5%;
	h2{

		font-size: 1.2em;
	}
	p{
		padding-left: 5px;
		font-size: 0.75em;
	}
	.comment-row:nth-child(odd){
		background-color: #f4f2f2;
	}

	.comment-row{

		flex: 1;
		flex-direction: row;
		border-bottom: 1px solid #CCC;
		padding-top: 10px;
		background-color: #f7f7f7;
		.comment-author{
			padding-left: 10px;
			font-size: .75em;
			color: grey;
		}
	}

}
